<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="ReadingBulb - Styleguides">
    
    <title>ReadingBulb - Styleguide</title>

    <!-- Favicon -->
    <link rel="icon" href="favicon.ico" sizes="32x32">


    <!--  Android 5 Chrome Color-->
    <meta name="theme-color" content="#EE6E73">

    <!-- CSS-->
    <link rel="stylesheet" href="../../vendor/prism/themes/prism.css" >
    <link rel="stylesheet" href="../../style/styleguide.css" >
</head>

<body>
    <header>

        <nav class="top-nav">
            <div class="container">
                <div class="nav-wrapper"><a class="page-title">Typography</a></div>
            </div>
        </nav>

        <div class="container">
            <a href="#" data-activates="nav-mobile" class="button-collapse top-nav waves-effect waves-light circle"><i class="fa fa-bars"></i></a>
        </div>

        <ul id="nav-mobile" class="side-nav fixed">

            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li class="bold"><a class="collapsible-header  waves-effect waves-teal">CSS</a>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="color.html">Color</a></li>
                                <li><a href="grid.html">Grid</a></li>
                                <li><a href="helpers.html">Helpers</a></li>
                                <li><a href="media-css.html">Media</a></li>
                                <li><a href="sass.html">Sass</a></li>
                                <li><a href="shadow.html">Shadow</a></li>
                                <li><a href="table.html">Table</a></li>
                                <li><a href="typography.html">Typography</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Components</a>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="badges.html">Badges</a></li>
                                <li><a href="buttons.html">Buttons</a></li>
                                <li><a href="cards.html">Cards</a></li>
                                <li><a href="collections.html">Collections</a></li>
                                <li><a href="footer.html">Footer</a></li>
                                <li><a href="forms.html">Forms</a></li>
                                <li><a href="icons.html">Icons</a></li>
                                <li><a href="navbar.html">Navbar</a></li>
                                <li><a href="pagination.html">Pagination</a></li>
                                <li><a href="preloader.html">Preloader</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="bold"><a class="collapsible-header  waves-effect waves-teal">JavaScript</a>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="collapsible.html">Collapsible</a></li>
                                <li><a href="dialogs.html">Dialogs</a></li>
                                <li><a href="dropdown.html">Dropdown</a></li>
                                <li><a href="media.html">Media</a></li>
                                <li><a href="modals.html">Modals</a></li>
                                <li><a href="parallax.html">Parallax</a></li>
                                <li><a href="pushpin.html">Pushpin</a></li>
                                <li><a href="scrollfire.html">ScrollFire</a></li>
                                <li><a href="scrollspy.html">Scrollspy</a></li>
                                <li><a href="side-nav.html">SideNav</a></li>
                                <li><a href="tabs.html">Tabs</a></li>
                                <li><a href="transitions.html">Transitions</a></li>
                                <li><a href="waves.html">Waves</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </header>

    <main>
        <div class="container">
            <div class="row">
                <div class="col s12 l6">
                    <p>Bill and Hillary Clinton earned at least $30 million in income from speeches last year and in the first four months of 2015, the couple's financial disclosures filed Friday with the Federal Elections Commission show. </p>
                    <p>That's based on payments for about 100 speeches, according to the filing, which Hillary Clinton's presidential campaign provided to Bloomberg News late Friday.</p>
                    <p>The Clintons’ net worth, as indicated on the form, is between $11.3 million and $52.7 million – not including their multimillion dollar homes in Washington and New York, any federal government retirement accounts they may have, or personal items such as furniture, artwork and presidential memorabilia. Their net worth was between $5.2 million and $25.5 million on the final disclosure that Hillary Clinton filed just after stepping down as Secretary of State in early 2013.</p>
                </div>
                <div class="col s12 l6">
                    <p>The Clintons' assets put them well within the top 1 percent of Americans for wealth. Those with assets of at least about $7.2 million for 2013 fell into that category, according to New York University professor Edward Wolff.</p>
                    <p>The financial reports will allow Hillary Clinton's opponents from both parties to argue she's the wrong candidate to represent the interests of the middle class, and that she's beholden to special interests. Republicans immediately began the attack.</p>
                    <p>"The Clintons' claim that staggering amounts of income from paid speaking fees that raise ethical questions and potential conflicts of interest is simply to 'pay our bills' shows how out-of-touch they've truly become," Republican National Committee Chairman Reince Priebus said Friday.</p>
                </div>

                <div class="col s12 l12">
                    <h1>The Secrets of the Chief Design Officer</h1>
                </div>
                <div class="col s12 l6">
                    <p><span class="fa fa-long-arrow-up"></span> This is H1 &bull; On medium and up screen, the size is 4.242rem / 4.854rem line height, with 0.025em letter spacing. On small screen, the size is 2.828rem / 3.236rem line height, with -0.025em letter spacing.</p>
                </div>

                <div class="col s12 l12">
                    <h2>The Secrets of the Chief Design Officer</h2>
                </div>
                <div class="col s12 l6">
                    <p><span class="fa fa-long-arrow-up"></span> This is H2 &bull; On medium and up screen, the size is 2.828rem / 3.236rem line height, with 0.025em letter spacing. On small screen, the size is 2.121rem / 2.427rem line height, with -0.025em letter spacing.</p>
                </div>

                <div class="col s12 l12">
                    <h3>The Secrets of the Chief Design Officer</h3>
                </div>
                <div class="col s12 l6">
                    <p><span class="fa fa-long-arrow-up"></span> This is H3 &bull; On all screens, the size is 2.828rem / 3.236rem line height. </p>
                </div>
                <div class="col s12 l8">
                    <h4>The Secrets of the Chief Design Officer. How to do the job that Steve Jobs did</h4>
                </div>
                <div class="col s12 l6">
                    <p><span class="fa fa-long-arrow-up"></span> This is H4 &bull; On all screens, the size is 2.828rem / 3.236rem line height. Capitalized letters, with letter spaced at 0.15em </p>
                </div>
            </div>
        </div>
    </main>

    <!-- <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                © 2014-2015 ReadingBulb, All rights reserved.
                <a class="grey-text text-lighten-4 right" href="">Proprietary License</a>
            </div>
        </div>
    </footer> -->

    <!--  Scripts-->
    <script src="../../vendor/jquery/dist/jquery.js"></script>
    <script src="../../vendor/jquery-timeago/jquery.timeago.js"></script>
    <script src="../../vendor/prism/prism.js"></script>
    <script src="../../vendor/materialize/bin/materialize.js"></script>
    <script src="../../script/rb-styleguide.js"></script>
</body>

</html>