<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="ReadingBulb - Styleguides">
    
    <title>ReadingBulb - Frontend Prototype</title>

    <!-- Favicon -->
    <link rel="icon" href="../favicon.ico" sizes="32x32">


    <!--  Android 5 Chrome Color-->
    <meta name="theme-color" content="#EE6E73">

    <!-- CSS-->
    <link rel="stylesheet" href="../../vendor/prism/themes/prism.css" >
    <link rel="stylesheet" href="../../style/proto.css" >
</head>

<body id="user-dashboard">

    <header class="navbar-fixed">

        <nav class="main-nav-outer">

            <ul class="main-nav-inner">
                <li class="nav-list">
                    <a class="nav-link active" href="dashboard-user.html" ><span class="nav-icon fa fa-star-o"></span><span class="nav-text">&nbsp;Featured</span></a>
                </li>
                <li class="nav-list">
                    <a class="nav-link" href="dashboard-user-latest.html" ><span class="nav-icon fa fa-bell-o"></span><span class="nav-text">&nbsp;Latest</span></a>
                </li>
                <li class="nav-list">
                    <a class="nav-link" href="dashboard-user-subscribed.html" ><span class="nav-icon fa fa-thumb-tack"></span><span class="nav-text">&nbsp;Subscribed</span></a>
                </li>
                <li class="nav-list">
                    <a class="nav-link" href="dashboard-user-subscribed.html" ><span class="nav-icon fa fa-plus-square-o"></span><span class="nav-text">&nbsp;Filters</span></a>
                </li>
            </ul>
        </nav>
    </header>

    <main id="main">

        <div class="timeline">

            <div class="row">

                <div class="col card-col s12 m4">

                    <div class="card">
                        <div class="card-image">
                            <img src="../../asset/image/tomorrowland.jpg">
                        </div>
                        <div class="card-content">
                            <h2 class="h3 card-content-title" ><a href="single-content-1.html">Optimism doesn’t sell</a></h2>
                            <p class="card-content-meta">
                                <span class="meta-from">The Daily Example</span>
                                <span class="meta-writer">Jeff Jarvis</span>
                            </p>
                            <p class="card-content-summary">Tomorrowland isn’t selling well. I know the feeling. My book Public Parts didn’t burn up the charts either. Both are about optimism. Optimism isn’t box office. Dystopia is.</p>
                        </div>
                        <div class="card-action">
                            <a href="#"><span class="fa fa-bookmark-o"></span></a>
                            <a href="#"><span class="fa fa-external-link"></span></a>
                        </div>
                    </div>

                    <div class="card">

                        <div class="timeline-stone">
                            <div class="timeline-stone-inner">
                                <img class="timeline-stone-icon" src="../../asset/image/sindo.png" alt="">
                            </div>
                        </div>

                        <div class="card-content no-pad">
                            <h2 class="h3 card-content-title" ><a href="single-content-6.html">Begini Jadinya Setelah Beras Plastik Dimasak</a></h2>
                            <p class="card-content-meta">
                                <span class="meta-from">The Daily Example</span>
                                <span class="meta-writer">George Orwell</span>
                            </p>
                        </div>
                        <div class="card-action">
                            <a href="#"><span class="fa fa-bookmark-o"></span></a>
                            <a href="#"><span class="fa fa-external-link"></span></a>
                        </div>
                    </div>

                    <div class="card">
                        <!-- <div class="timeline-stone">
                            <div class="timeline-stone-inner">
                                <img class="timeline-stone-icon" src="../../asset/image/tribun.png" alt="">
                            </div>
                        </div> -->

                        <div class="card-image">
                            <img src="../../asset/image/volcano.jpg">
                        </div>
                        <div class="card-content">
                            <h2 class="h3 card-content-title" ><a href="single-content-3.html">The Story Behind These Heart-Stopping Photos of Volcano Fuego Erupting</a></h2>
                            <p class="card-content-meta">
                                <span class="meta-from">The Daily Example</span>
                                <span class="meta-writer">Andy Shepard</span>
                            </p>
                            <p class="card-content-summary">November of 2014 marked my departure from home. For me, leaving Seattle was the exploration of a new adventurous mindset. My decision to pursue my landscape photography work while traveling was the catalyst for finding new, exciting experiences; experiences that would take me from the beaches of Mexico, across jungles of the tropics, to volcanic summits, and anywhere I happen to find myself with my camera and my backpack in tow.</p>
                        </div>
                        <div class="card-action">
                            <a href="#"><span class="fa fa-bookmark-o"></span></a>
                            <a href="#"><span class="fa fa-external-link"></span></a>
                        </div>
                    </div>

                    <div class="card">

                        <div class="timeline-stone">
                            <div class="timeline-stone-inner">
                                <img class="timeline-stone-icon" src="../../asset/image/sindo.png" alt="">
                            </div>
                        </div>

                        <div class="card-content no-pad">
                            <h2 class="h3 card-content-title" ><a href="single-content-7.html">Ketua BEM UI Sebut Presiden Jokowi Bohong, Ini Kronologinya</a></h2>
                            <p class="card-content-meta">
                                <span class="meta-from">The Daily Example</span>
                                <span class="meta-writer">George Orwell</span>
                            </p>
                        </div>
                        <div class="card-action">
                            <a href="#"><span class="fa fa-bookmark-o"></span></a>
                            <a href="#"><span class="fa fa-external-link"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="fixed-action-btn" style="bottom: 8px; right: 8px;">
            <a class="btn-floating btn-large brown darken-2"><i class="large fa fa-plus"></i></a>
            <ul>
                <li><a class="btn-floating brown darken-2"><i class="fa fa-filter" style="font-size: 1rem;"></i></a></li>
                <li><a class="btn-floating brown darken-2"><i class="fa fa-search" style="font-size: 1rem;"></i></a></li>
            </ul>
        </div> -->
    </main>

    <footer class="page-footer" >
        <div class="footer-copyright">
            <div class="container">
                <p>&copy; 2014-2015 ReadingBulb, All rights reserved.</p>
            </div>
        </div>
    </footer>

    <!--  Scripts-->
    <script src="../../vendor/jquery/dist/jquery.js"></script>
    <script src="../../vendor/jquery-timeago/jquery.timeago.js"></script>
    <script src="../../vendor/materialize/bin/materialize.js"></script>
    <script src="../../vendor/hammerjs/hammer.js"></script>
    <script src="../../vendor/headroom.js/dist/headroom.js"></script>
    <script src="../../vendor/headroom.js/dist/jQuery.headroom.js"></script>
    <script src="../../script/rb-proto.js"></script>
</body>

</html>