<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="ReadingBulb - Styleguides">
    
    <title>ReadingBulb - Frontend Prototype</title>

    <!-- Favicon -->
    <link rel="icon" href="../favicon.ico" sizes="32x32">


    <!--  Android 5 Chrome Color-->
    <meta name="theme-color" content="#EE6E73">

    <!-- CSS-->
    <link rel="stylesheet" href="../../vendor/prism/themes/prism.css" >
    <link rel="stylesheet" href="../../style/proto.css" >
</head>

<body id="single-content">

    <header class="navbar-fixed">

        <nav class="main-nav-outer">

            <ul class="main-nav-inner">
                <li class="nav-list">
                    <a class="nav-link active" href="dashboard-user.html" ><span class="nav-icon fa fa-star-o"></span><span class="nav-text">&nbsp;Featured</span></a>
                </li>
                <li class="nav-list">
                    <a class="nav-link" href="dashboard-user-latest.html" ><span class="nav-icon fa fa-bell-o"></span><span class="nav-text">&nbsp;Latest</span></a>
                </li>
                <li class="nav-list">
                    <a class="nav-link" href="dashboard-user-subscribed.html" ><span class="nav-icon fa fa-thumb-tack"></span><span class="nav-text">&nbsp;Subscribed</span></a>
                </li>
                <li class="nav-list">
                    <a class="nav-link" href="dashboard-user-subscribed.html" ><span class="nav-icon fa fa-plus-square-o"></span><span class="nav-text">&nbsp;Filters</span></a>
                </li>
            </ul>
        </nav>
    </header>

    <main id="main">

        <article class="content-outer">
            
            <section class="content-cover-outer full-height">

                <div class="content-cover-image" style="background-image: url(http://rb-styleguides.dev/app/asset/image/sample-1.jpg);"></div>

                <div class="content-cover-head">

                    <div class="content-meta-outer">

                        <div class="content-title">
                            <h2>The Secrets of the Chief Design Officer</h2>
                        </div>
                        
                        <div class="content-meta-source-icon">
                            <img src="../../asset/image/tribun.png" alt="">
                        </div>

                        <div class="content-meta-source-text">
                            <p>THE DAILY EDITION</p>
                        </div>

                        <div class="content-meta-author">
                            <p><span>&nbsp;&bull;&nbsp;</span>George Orwell</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="content-body">
                <p>Of course, they are. But don’t believe the hype, people have been flipping tables since the first plank was balanced on a rock. It’s arguable that the first table was built specifically to express this most raw of human emotions. But millennia later, we have found practical (and hyperbolic) use for the flip in those moments when words are just not enough.</p>
                <p>The Angry Rage is the most extreme of the table flips and most often captured on film. Well documented in popular culture, it is easy to uncovered examples of rage-fueled table flips as early as Son Of Frankenstein in 1939 and in 1941, perhaps the most praised host, Citizen Kane.</p>
                <p>The therapeutic nature of table flipping has been well established within the human race. Confident in this knowledge, the Society of Software Engineers at Rochester Institute of Technology organized a table flipping event in November, 2011, to help student alleviate stress during finals week. But even before that delightful recognition, there was this</p>
                <p>The Japanese Table Flip Game Cho Chabudai Gaeshi! (Super Table-Flip!) has been popular for reducing tensions for Japanese business men for years. Anecdotally, there are four different scenarios in the game: the father and family, a guest at a host club, a frustrated office worker, and my favorite, BRIDEZILLA</p>
            </section>
        </article>

        <!-- <div class="fixed-action-btn" style="bottom: 8px; right: 8px;">
            <a class="btn-floating btn-large brown darken-2"><i class="large fa fa-plus"></i></a>
            <ul>
                <li><a class="btn-floating brown darken-2"><i class="fa fa-filter" style="font-size: 1rem;"></i></a></li>
                <li><a class="btn-floating brown darken-2"><i class="fa fa-search" style="font-size: 1rem;"></i></a></li>
            </ul>
        </div> -->
    </main>

    <footer class="page-footer" >
        <div class="footer-copyright">
            <div class="container">
                <p>&copy; 2014-2015 ReadingBulb, All rights reserved.</p>
            </div>
        </div>
    </footer>

    <!--  Scripts-->
    <script src="../../vendor/jquery/dist/jquery.js"></script>
    <script src="../../vendor/jquery-timeago/jquery.timeago.js"></script>
    <script src="../../vendor/materialize/bin/materialize.js"></script>
    <script src="../../vendor/hammerjs/hammer.js"></script>
    <script src="../../vendor/headroom.js/dist/headroom.js"></script>
    <script src="../../vendor/headroom.js/dist/jQuery.headroom.js"></script>
    <script src="../../script/rb-proto.js"></script>
</body>

</html>