#user-dashboard,
#single-content {

    // TOPNAV
    .user-dashboard-topnav {
        box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.05);
        background-color: #FFF;

        @include transition(.2s top ease-out);

        li { padding: 0; }

        a {
            color: color('rb-primer', 'darken-2');

            @include clearfix;
            display: block;
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 0.01em;
            padding: 0;

            // @media #{$medium-and-down} {
            //     padding: 0;
            // }
        }

        .top-nav {
            a.active {
                border-top: 2px solid color('rb-primer', 'lighten-2');
                // padding-top: 6px;
            }
        }

        .side-nav {

            li {
                // height: 2rem;
            }

            a {
                display: block;
                padding: 0 1rem;
                // height: 2rem;
            }
        }

        .side-nav-toggler-outer {
            width: 2.5rem;
        }
    }

    // MAIN
    main {
        background-color: #FCFCFC;
        min-height: 100vh;
        // padding-top: 4.5rem;

        // Into the light: RESET
        padding-top: 1rem;
    }

    .page-footer {
        margin-top: 0;
        background-color: color('rb-primer', 'darken-3');

        .footer-copyright {
            font-size: 12px;
            text-align: right;
        }
    }
}