#user-dashboard,
#single-content {

    // MAIN
    main {
        background-color: #FAF7F4;
        min-height: 100vh;
        padding-top: 1rem;
        z-index: $z-main;
    }

    .page-footer {
        margin-top: 0;
        padding: 1rem 0;
        background-color: color('rb-primer', 'darken-3');

        .footer-copyright {
            font-size: 12px;
            text-align: center;
            letter-spacing: 0.05em;
            color: #FFF;

            p { margin: 0; }
        }
    }
}