$font-url: 'font/';

// SANS

@include s-font-face( 'SansRegular', 'Neue Haas Grotesk Text W02 Regular', $font-url, normal, normal );
@include s-font-face( 'SansRegularItalic', 'Neue Haas Grotesk Text W02 Italic', $font-url, normal, normal );
@include s-font-face( 'SansBlack', 'Neue Haas Grotesk Display W02 Blk', $font-url, normal, normal );
@include s-font-face( 'SansBlackItalic', 'Neue Haas Grotesk Display W02 Blk It', $font-url, normal, normal );
@include s-font-face( 'SansBold', 'Neue Haas Grotesk Display W02 Bold', $font-url, normal, normal );
@include s-font-face( 'SansBoldItalic', 'Neue Haas Grotesk Display W02 Bold Italic', $font-url, normal, normal );
@include s-font-face( 'SansExtraLight', 'Neue Haas Grotesk Display W02 XtraLt', $font-url, normal, normal );
@include s-font-face( 'SansExtraLightItalic', 'Neue Haas Grotesk Display W02 XtraLt It', $font-url, normal, normal );
@include s-font-face( 'SansMedium', 'Neue Haas Grotesk Text W02 Medium', $font-url, normal, normal );
@include s-font-face( 'SansMediumItalic', 'Neue Haas Grotesk Text W02 Medium It', $font-url, normal, normal );
@include s-font-face( 'SansThin', 'Neue Haas Grotesk Display W02 Thin', $font-url, normal, normal );
@include s-font-face( 'SansThinItalic', 'Neue Haas Grotesk Display W02 Th It', $font-url, normal, normal );

$ff-sans-regular: SansRegular, serif;
$ff-sans-regular-italic: SansRegularItalic, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$ff-sans-black: SansBlack, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$ff-sans-black-italic: SansBlackItalic, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$ff-sans-bold: SansBold, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$ff-sans-bold-italic: SansBoldItalic, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$ff-sans-extralight: SansExtraLight, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$ff-sans-extralight-italic: SansExtraLightItalic, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$ff-sans-medium: SansMedium, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$ff-sans-medium-italic: SansMediumItalic, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$ff-sans-thin: SansThin, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$ff-sans-thin-italic: SansThinItalic, 'Helvetica Neue', Helvetica, Arial, sans-serif;

// ICONFONT

@include s-font-face( 'IconFont', 'FontAwesome Regular', $font-url, normal, normal );

$ff-iconfont: IconFont;