@import "keyframes";

.navbar-fixed {
    min-width: 100%;
}

// MAIN NAV
.main-nav-outer {

    .navbar-fixed & {
        position: fixed;
        bottom: 0;
        z-index: $z-nav;
    }

    color: $navbar-font-color;
    box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.05);
    background-color: #FFF;
    width: 100%;
    height: $navbar-height-mobile;
    line-height: $navbar-height-mobile;

    // @include transition(.2s top ease-out);
    
    .main-nav-inner {
        margin: 0 auto;
        padding: 0;
        list-style: none outside none;

        .nav-list {
            padding: 0;

            // only for mobile main-nav
            width: 25%;
            float: left;
            text-align: center;
        }

        .nav-link {
            @include clearfix;
            display: block;
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 0.01em;
            padding: 0;

            // Colors
            color: rgba( color('rb-primer', 'base'), 0.4 );
            &.active { color: color('rb-primer', 'darken-2'); }
        }

        .nav-text,
        .nav-icon {
            display: block;
            width: 100%;
            line-height: 1.5rem;
            height: 1.5rem;
            text-align: center;
        }
        .nav-text {
            font-size: 11px;
        }
        .nav-icon {
            margin: 4px 0 -2px 0;
        }
    }
}

// SIDE NAV

.side-nav-toggler-outer {
    width: 2.5rem;
}

.side-nav {

    li {
        // height: 2rem;
    }

    a {
        display: block;
        padding: 0 1rem;
        // height: 2rem;
    }
}