.timeline {

    .row {
        margin-left: 0;
        margin-right: 0;
    }

    .timeline-stone {

        position: absolute;
        top: 0;
        left: -2rem;
        width: 0.75rem;
        height: 100%;
        border-right: 1px solid #CCC;
        box-sizing: content-box;
        
        .timeline-stone-inner {
            min-width: 1.5rem;
            min-height: 1.5rem;
            max-width: 1.5rem;
            max-height: 1.5rem;
            width: 1.5rem;
            height: 1.5rem;
            overflow: hidden;
            border-radius: 50%;
            background-color: #FFF;
            position: relative;
            padding: 10%;
            border: 1px solid #FCFCFC;

            .timeline-stone-icon {
                position: absolute;
                max-width: 90%;
                width: 90%;
                top: 5%;
                left: 5%;
            }
        }
    }

    .card-col {
        padding: 0 1rem;
    }

    .card {

        // margin-left: 1.5rem;
        // overflow: visible;
        
        // Into the light: RESET
        margin: 0 0 1.5rem 0;
        box-shadow: none;
        background-color: $card-bg-color;

        .card-content {
            padding: 1rem 0;

            &.no-pad-bottom { padding-bottom: 0; }
        }

        .card-action {
            padding: 0 0 1rem 0;
            border-top: none;
            border-bottom: 1px solid rgba(160, 160, 160, 0.2);
            // text-align: right;
            
            a { margin-right: .5rem; }
        }

        .card-content-title {
            margin: 0 0 1rem 0;
        }

        .card-content-meta {
            display: block;
            max-height: $leading;
            height: $leading;
            overflow: hidden;

            font-size: 13px;
            line-height: 100%;

            white-space: nowrap;
            text-overflow: ellipsis;

            .meta-from {
                color: color('rb-primer', 'darken-1');

                &:after {
                    content: ' \2022';
                }
            }

            .meta-timeago {
                &:after {
                    content: ' \2022';
                }
            }
        }

        .card-content-summary {
            letter-spacing: 0.005em;
            font-size: 15px;
        }

        &:last-of-type {
            margin-bottom: 2rem;

            .card-action {
                border-bottom: none;
            }
        }

        &:after {
            content: ' ';
            position: absolute;
            bottom: -5rem; left: -2rem;
            display: block;
            width: 0.75rem;
            height: 5rem;
            border-right: 1px solid #CCC;
            box-sizing: content-box;
        }
    }

    & > *:last-child { margin-bottom: 0; }
}