.timeline {

    .row {
        margin-left: 0;
        margin-right: 0;
    }

    .timeline-stone {

        position: absolute;
        top: 0;
        left: -2rem;
        width: 0.75rem;
        height: 100%;
        border-right: 1px solid #CCC;
        box-sizing: content-box;
        
        .timeline-stone-inner {
            min-width: 1.5rem;
            min-height: 1.5rem;
            max-width: 1.5rem;
            max-height: 1.5rem;
            width: 1.5rem;
            height: 1.5rem;
            overflow: hidden;
            border-radius: 50%;
            background-color: #FFF;
            position: relative;
            padding: 10%;
            border: 1px solid #FCFCFC;

            .timeline-stone-icon {
                position: absolute;
                max-width: 90%;
                width: 90%;
                top: 5%;
                left: 5%;
            }
        }
    }

    .card-col {
        padding: 0 1rem;
    }

    .card {

        // Into the light: RESET
        margin: 0 0 1.5rem 0;
        box-shadow: none;
        background-color: $card-bg-color;

        .card-content {
            padding: 1rem 0;

            &.no-pad-bottom { padding-bottom: 0; }
            &.no-pad { padding: 0; }
        }

        .card-action {

            @include clearfix;

            padding: 0;
            border-top: none;
            margin-bottom: .5rem;
            
            .card-action-link {
                display: inline-block;
                position: relative;
                float: left;

                height: 1.5rem;
                width: 50%;

                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    border: 1px solid $card-link-color-light;
                }

                &:first-of-type:after {
                    right: 2px;
                    left: 0;
                }

                &:last-of-type:after {
                    left: 2px;
                    right: 0;
                }

                margin: 0;
                padding: 0 1em;

                color: $card-link-color;
                font-size: 11px;
                line-height: 1.5rem;
                text-align: center;

                .icon {
                    margin-right: 1em;
                }

                .text {
                    letter-spacing: 0.03em;
                    text-transform: capitalize;
                }
            }

        }

        .card-content-title {
            margin: 0 0 1rem 0;
            font-family: $ff-sans-medium;
            letter-spacing: 0;

            a { color: inherit; }
        }

        .card-content-meta {
            display: block;
            max-height: $leading;
            height: $leading;
            overflow: hidden;

            font-size: 13px;
            line-height: 100%;

            white-space: nowrap;
            text-overflow: ellipsis;

            .meta-from {
                color: color('rb-primer', 'darken-1');

                &:after {
                    content: ' \2022';
                }
            }

            .meta-timeago {
                &:after {
                    content: ' \2022';
                }
            }
        }

        .card-content-summary {
            letter-spacing: 0.005em;
            font-size: 15px;
        }

        &:last-of-type {
            margin-bottom: 3rem;

            .card-action {
                border-bottom: none;
            }
        }

        &:after {
            content: ' ';
            position: absolute;
            bottom: -5rem; left: -2rem;
            display: block;
            width: 0.75rem;
            height: 5rem;
            border-right: 1px solid #CCC;
            box-sizing: content-box;
        }
    }

    & > *:last-child { margin-bottom: 0; }
}