<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="ReadingBulb - Styleguides">
    
    <title>ReadingBulb - Frontend Prototype</title>

    <!-- Favicon -->
    <link rel="icon" href="../favicon.ico" sizes="32x32">


    <!--  Android 5 Chrome Color-->
    <meta name="theme-color" content="#EE6E73">

    <!-- CSS-->
    <link rel="stylesheet" href="../../vendor/prism/themes/prism.css" >
    <link rel="stylesheet" href="../../style/proto.css" >
</head>

<body id="user-dashboard">

    <header class="navbar-fixed">

        <nav class="user-dashboard-topnav">

            <div class="nav-wrapper nav">

                <ul class="row top-nav">
                    <li class="col s3 center-align">
                        <a class="" href="dashboard-user.html" ><span class="nav-icon fa fa-star-o"></span><span class="nav-text">&nbsp;Featured</span></a>
                    </li>
                    <li class="col s3 center-align">
                        <a class="active" href="dashboard-user-latest.html" ><span class="nav-icon fa fa-bell-o"></span><span class="nav-text">&nbsp;Latest</span></a>
                    </li>
                    <li class="col s3 center-align">
                        <a class="" href="dashboard-user-subscribed.html" ><span class="nav-icon fa fa-thumb-tack"></span><span class="nav-text">&nbsp;Subscribed</span></a>
                    </li>
                    <li class="col s3 center-align">
                        <a class="" href="dashboard-user-subscribed.html" ><span class="nav-icon fa fa-plus-square-o"></span><span class="nav-text">&nbsp;Filters</span></a>
                    </li>
                </ul>

                <ul class="side-nav" id="side-nav">
                    <li><a href="#">Menu A</a></li>
                    <li><a href="#">Menu B</a></li>
                    <li><a href="#">Menu C</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main id="main">

        <div class="timeline">

            <div class="row">

                <div class="col card-col s12 m4">

                    <div class="card">

                        <div class="timeline-stone">
                            <div class="timeline-stone-inner">
                                <img class="timeline-stone-icon" src="../../asset/image/republika.png" alt="">
                            </div>
                        </div>

                        <!-- <div class="card-image">
                            <img src="../../asset/image/sample-1.jpg">
                        </div> -->
                        <div class="card-content no-pad">
                            <h2 class="h3 card-content-title" ><a href="single-content-4.html">Harga Sembako di Yogyakarta Mulai Naik</a></h2>
                            <p class="card-content-meta">
                                <span class="meta-from">The Daily Example</span>
                                <span class="meta-writer">George Orwell</span>
                            </p>
                            <!-- <p class="card-content-summary">If you ever want to hear evidence of the implicit power that exists unspoken between musicians, of the shared mastery over the art of rock &amp; roll, it would be hard to find a more compelling example than “Passover” by Joy Division.</p> -->
                        </div>
                        <div class="card-action">
                            <a href="#"><span class="fa fa-bookmark-o"></span></a>
                            <a href="#"><span class="fa fa-external-link"></span></a>
                        </div>
                    </div>

                    <div class="card">

                        <div class="timeline-stone">
                            <div class="timeline-stone-inner">
                                <img class="timeline-stone-icon" src="../../asset/image/tribun.png" alt="">
                            </div>
                        </div>

                        <div class="card-content no-pad">
                            <h2 class="h3 card-content-title" ><a href="single-content-5.html">Presiden Resmikan Pelabuhan Teluk Lamong</a></h2>
                            <p class="card-content-meta">
                                <span class="meta-from">The Daily Example</span>
                                <span class="meta-writer">George Orwell</span>
                            </p>
                        </div>
                        <div class="card-action">
                            <a href="#"><span class="fa fa-bookmark-o"></span></a>
                            <a href="#"><span class="fa fa-external-link"></span></a>
                        </div>
                    </div>

                    <div class="card">

                        <div class="timeline-stone">
                            <div class="timeline-stone-inner">
                                <img class="timeline-stone-icon" src="../../asset/image/sindo.png" alt="">
                            </div>
                        </div>

                        <div class="card-content no-pad">
                            <h2 class="h3 card-content-title" ><a href="single-content-6.html">Begini Jadinya Setelah Beras Plastik Dimasak</a></h2>
                            <p class="card-content-meta">
                                <span class="meta-from">The Daily Example</span>
                                <span class="meta-writer">George Orwell</span>
                            </p>
                        </div>
                        <div class="card-action">
                            <a href="#"><span class="fa fa-bookmark-o"></span></a>
                            <a href="#"><span class="fa fa-external-link"></span></a>
                        </div>
                    </div>

                    <div class="card">

                        <div class="timeline-stone">
                            <div class="timeline-stone-inner">
                                <img class="timeline-stone-icon" src="../../asset/image/sindo.png" alt="">
                            </div>
                        </div>

                        <div class="card-content no-pad">
                            <h2 class="h3 card-content-title" ><a href="single-content-7.html">Ketua BEM UI Sebut Presiden Jokowi Bohong, Ini Kronologinya</a></h2>
                            <p class="card-content-meta">
                                <span class="meta-from">The Daily Example</span>
                                <span class="meta-writer">George Orwell</span>
                            </p>
                        </div>
                        <div class="card-action">
                            <a href="#"><span class="fa fa-bookmark-o"></span></a>
                            <a href="#"><span class="fa fa-external-link"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="fixed-action-btn" style="bottom: 8px; right: 8px;">
            <a class="btn-floating btn-large brown darken-2"><i class="large fa fa-plus"></i></a>
            <ul>
                <li><a class="btn-floating brown darken-2"><i class="fa fa-filter" style="font-size: 1rem;"></i></a></li>
                <li><a class="btn-floating brown darken-2"><i class="fa fa-search" style="font-size: 1rem;"></i></a></li>
            </ul>
        </div> -->
    </main>

    <footer class="page-footer" style="margin-top: 0;">
        <div class="footer-copyright">
            <div class="container">
                © 2014-2015 ReadingBulb, All rights reserved.
                <a class="grey-text text-lighten-4 right" href="">Proprietary License</a>
            </div>
        </div>
    </footer>

    <!--  Scripts-->
    <script src="../../vendor/jquery/dist/jquery.js"></script>
    <script src="../../vendor/jquery-timeago/jquery.timeago.js"></script>
    <script src="../../vendor/materialize/bin/materialize.js"></script>
    <script src="../../vendor/hammerjs/hammer.js"></script>
    <script src="../../vendor/headroom.js/dist/headroom.js"></script>
    <script src="../../vendor/headroom.js/dist/jQuery.headroom.js"></script>
    <script src="../../script/rb-proto.js"></script>
</body>

</html>