<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="ReadingBulb - Styleguides">
    
    <title>ReadingBulb - Frontend Prototype</title>

    <!-- Favicon -->
    <link rel="icon" href="../favicon.ico" sizes="32x32">


    <!--  Android 5 Chrome Color-->
    <meta name="theme-color" content="#EE6E73">

    <!-- CSS-->
    <link rel="stylesheet" href="../../vendor/prism/themes/prism.css" >
    <link rel="stylesheet" href="../../style/proto.css" >
</head>

<body id="user-dashboard">

    <header class="navbar-fixed">
        <nav class="user-dashboard-topnav">
            <div class="nav-wrapper nav">
                
                <!-- <a href="#" data-activates="nav-mobile" class="button-collapse top-nav waves-effect waves-light circle"><i class="fa fa-bars"></i></a> -->

                <ul class="row">
                    <li class="col s2 center-align hide-on-large-only side-nav-toggler">
                        <a class="" href="#" ><span class="fa fa-bars"></span></a>
                    </li>
                    <li class="col s3 center-align">
                        <a class="" href="dashboard-user.html" ><span class="fa fa-star-o"></span>&nbsp;Featured</a>
                    </li>
                    <li class="col s3 center-align">
                        <a class="" href="dashboard-user-latest.html" ><span class="fa fa-bell-o"></span>&nbsp;Latest</a>
                    </li>
                    <li class="col s4 center-align">
                        <a class="" href="dashboard-user-subscribed.html" ><span class="fa fa-flag-o"></span>&nbsp;Subscribed</a>
                    </li>
                </ul>

                <!-- <ul class="side-nav" id="side-nav-demo">
                    <li><a href="#">Menu A</a></li>
                    <li><a href="#">Menu B</a></li>
                    <li><a href="#">Menu C</a></li>
                </ul> -->
            </div>
        </nav>
    </header>

    <main>
        <div class="container">

            <div class="timeline">

                <div class="row">

                    <div class="col card-col s12 m4">

                        <div class="card">
                            <div class="timeline-stone"><div class="timeline-stone-inner"></div></div>

                            <div class="card-image">
                                <img src="../../asset/image/sample-1.jpg">
                            </div>
                            <div class="card-content">
                                <h2 class="card-content-title" >The Secrets of the Chief Design Officer</h2>
                                <p class="card-content-meta">
                                    <span class="meta-from">The Daily Example</span>
                                    <span class="meta-timeago">1d</span>
                                    <span class="meta-writer">George Orwell</span>
                                </p>
                                <p class="card-content-summary">If you ever want to hear evidence of the implicit power that exists unspoken between musicians, of the shared mastery over the art of rock &amp; roll, it would be hard to find a more compelling example than “Passover” by Joy Division.</p>
                            </div>
                            <div class="card-action">
                                <a href="#"><span class="fa fa-bookmark-o"></span></a>
                                <a href="#"><span class="fa fa-external-link"></span></a>
                            </div>
                        </div>

                        <div class="card">
                            <div class="timeline-stone"><div class="timeline-stone-inner"></div></div>

                            <div class="card-image">
                                <img src="../../asset/image/sample-2.jpg">
                            </div>
                            <div class="card-content">
                                <h2 class="card-content-title" >The Secrets of the Chief Design Officer</h2>
                                <p class="card-content-meta">
                                    <span class="meta-from">The Daily Example</span>
                                    <span class="meta-timeago">1d</span>
                                    <span class="meta-writer">George Orwell</span>
                                </p>
                                <p class="card-content-summary">If you ever want to hear evidence of the implicit power that exists unspoken between musicians, of the shared mastery over the art of rock &amp; roll, it would be hard to find a more compelling example than “Passover” by Joy Division.</p>
                            </div>
                            <div class="card-action">
                                <a href="#"><span class="fa fa-bookmark-o"></span></a>
                                <a href="#"><span class="fa fa-external-link"></span></a>
                            </div>
                        </div>

                        <div class="card">
                            <div class="timeline-stone"><div class="timeline-stone-inner"></div></div>

                            <div class="card-image">
                                <img src="../../asset/image/sample-3.jpg">
                            </div>
                            <div class="card-content">
                                <h2 class="card-content-title" >The Secrets of the Chief Design Officer</h2>
                                <p class="card-content-meta">
                                    <span class="meta-from">The Daily Example</span>
                                    <span class="meta-timeago">1d</span>
                                    <span class="meta-writer">George Orwell</span>
                                </p>
                                <p class="card-content-summary">If you ever want to hear evidence of the implicit power that exists unspoken between musicians, of the shared mastery over the art of rock &amp; roll, it would be hard to find a more compelling example than “Passover” by Joy Division.</p>
                            </div>
                            <div class="card-action">
                                <a href="#"><span class="fa fa-bookmark-o"></span></a>
                                <a href="#"><span class="fa fa-external-link"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="fixed-action-btn" style="bottom: 36px; right: 24px;">
            <a class="btn-floating btn-large red"><i class="large fa fa-plus"></i></a>
            <ul>
                <li><a class="btn-floating red"><i class="fa fa-filter" style="font-size: 1rem;"></i></a></li>
                <li><a class="btn-floating red"><i class="fa fa-search" style="font-size: 1rem;"></i></a></li>
            </ul>
        </div>
    </main>

    <footer class="page-footer" >
        <div class="footer-copyright">
            <div class="container">
                © 2014-2015 ReadingBulb, All rights reserved.
                <a class="grey-text text-lighten-4 right" href="">Proprietary License</a>
            </div>
        </div>
    </footer>

    <!--  Scripts-->
    <script src="../../vendor/jquery/dist/jquery.js"></script>
    <script src="../../vendor/jquery-timeago/jquery.timeago.js"></script>
    <script src="../../vendor/prism/prism.js"></script>
    <script src="../../vendor/materialize/bin/materialize.js"></script>
    <script src="../../vendor/swipe/swipe.js"></script>
    <script src="../../script/rb-proto.js"></script>
</body>

</html>