<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="ReadingBulb - Styleguides">
    
    <title>ReadingBulb - Styleguide</title>

    <!-- Favicon -->
    <link rel="icon" href="favicon.ico" sizes="32x32">


    <!--  Android 5 Chrome Color-->
    <meta name="theme-color" content="#EE6E73">

    <!-- CSS-->
    <link rel="stylesheet" href="../../vendor/prism/themes/prism.css" >
    <link rel="stylesheet" href="../../style/style.css" >
</head>

<body>

    <header>
    </header>

    <main>
    </main>

    <footer>
    </footer>

    <!--  Scripts-->
    <script src="../../vendor/jquery/dist/jquery.js"></script>
    <script src="../../vendor/jquery-timeago/jquery.timeago.js"></script>
    <script src="../../vendor/prism/prism.js"></script>
    <script src="../../vendor/materialize/bin/materialize.js"></script>
    <script src="../../script/rb-styleguide.js"></script>
</body>

</html>