<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="ReadingBulb - Styleguides">
    
    <title>ReadingBulb - Frontend Prototype</title>

    <!-- Favicon -->
    <link rel="icon" href="../favicon.ico" sizes="32x32">


    <!--  Android 5 Chrome Color-->
    <meta name="theme-color" content="#EE6E73">

    <!-- CSS-->
    <link rel="stylesheet" href="../../style/proto.css" >
</head>

<body id="single-content">

    <header class="navbar-fixed">

        <nav class="main-nav-outer">

            <ul class="main-nav-inner">
                <li class="nav-list">
                    <a class="nav-link active" href="dashboard-user.html" ><span class="nav-icon fa fa-star-o"></span><span class="nav-text">&nbsp;Featured</span></a>
                </li>
                <li class="nav-list">
                    <a class="nav-link" href="dashboard-user-latest.html" ><span class="nav-icon fa fa-bell-o"></span><span class="nav-text">&nbsp;Latest</span></a>
                </li>
                <li class="nav-list">
                    <a class="nav-link" href="dashboard-user-subscribed.html" ><span class="nav-icon fa fa-thumb-tack"></span><span class="nav-text">&nbsp;Subscribed</span></a>
                </li>
                <li class="nav-list">
                    <a class="nav-link filter-nav-toggler" href="#" ><span class="nav-icon fa fa-plus-square-o"></span><span class="nav-text">&nbsp;Filters</span></a>
                </li>
            </ul>
        </nav>

        <nav class="filter-nav-outer">
            
            <ul class="filter-nav-inner">
                
                <li class="filter-list">
                    <a href="#" class="filter-link"><span class="filter-icon fa fa-search"></span></a>
                </li>

                <li class="filter-list">
                    <a href="#" class="filter-link"><span class="filter-icon fa fa-filter"></span></a>
                </li>
            </ul>
        </nav>
    </header>

    <main id="main">

        <article class="content-outer">
            
            <section class="content-cover-outer full-height">

                <div class="content-cover-image" data-src="../../asset/image/tomorrowland.jpg"></div>

                <div class="content-cover-head">

                    <div class="content-meta-outer">

                        <div class="content-title">
                            <h2>Optimism doesn’t sell</h2>
                        </div>
                        
                        <div class="content-meta-source-icon">
                            <img src="../../asset/image/tribun.png" alt="">
                        </div>

                        <div class="content-meta-source-text">
                            <p>THE DAILY EDITION</p>
                        </div>

                        <div class="content-meta-author">
                            <p><span>&nbsp;&bull;&nbsp;</span>George Orwell</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="content-body">
                <p>Tomorrowland isn’t selling well. I know the feeling. My book Public Parts didn’t burn up the charts either. Both are about optimism. Optimism isn’t box office. Dystopia is.</p>
                <p>That is the self-fulfilling paradox of Disney’s Tomorrowland. Toward the end, Hugh Laurie as the Keen/Carr/Morozov and lately Bilton and Naughton of tomorrow says that the people of today slurp up pessimism like eclairs — his image — and so we package it, sell it, buy it, and believe it. We make our own dark predictions come true because we don’t do anything to fix the planet or its politics. Why bother? To hell with hope.</p>
                <p>Disney sells hope. Movie goers aren’t buying Disney’s hope. Thus, Tomorrowland’s box office proves its own point: There’s no market for optimism. A Pyrrhic victory if I’ve ever seen one.</p>
                <p>It’s a depressing state of affairs when Disney is hope’s last, best hope. Tomorrowland is hardly a deep think piece. Not to spoil its plot — which reads like an Ikea instruction manual — but George Clooney, recovering optimist, predicts to the second when society will come to an end thanks to its own destructive ennui. Along comes young Britt Robertson, whose NASA-inspired flash of defiant sanguinity causes a momentary blip in Clooney’s algorithm of doom and you can guess the rest: If people just stop listening to all this gloom, doom won’t come. Except nobody’s listening to Tomorrowland.</p>
                <p>Much of the dystopianism that surrounds us today is about our machines and the companies that run them: how Google makes us stupid, Facebook kills privacy, Google Glass turns us all into peeping Toms, robots will take our jobs and our car keys, the internet of things will open the door to crime, and artificial intelligence will bring unspecified dangers (the juiciest kind).</p>
                <p>But the truth is that dystopianism is rarely about technology. It’s about people. The dystopian fears that his fellow man and woman are too stupid to use technology well, too gullible to see its risks, too timid to control its dangers, too venal to see beyond its temptations.</p>
                <p>Dystopianism is the ultimate statement of hubris: ‘I am smarter than the rest of you,’ says the profound pessimist. ‘I can see where you are all going wrong. I can see that you can’t learn. I am better than you all.’</p>
                <p>Like game shows, reality TV, and gawking at Walmart shoppers, dystopianism is mostly an excuse for making fun of your neighbors and feeling superior to them. They’re so stupid they’re ruining the future.</p>
                <p>I am an optimist to a fault. I say that life is better than it was. I see progress. I say that bad guys win too many battles but so far good guys tend to win the wars. I say that technology brings us new opportunities to advance if we’re open-minded enough to see them.</p>
                <p>But nobody’s buying that. Dystopia’s so much more fun.</p>
            </section>
        </article>

        <!-- <div class="fixed-action-btn" style="bottom: 8px; right: 8px;">
            <a class="btn-floating btn-large brown darken-2"><i class="large fa fa-plus"></i></a>
            <ul>
                <li><a class="btn-floating brown darken-2"><i class="fa fa-filter" style="font-size: 1rem;"></i></a></li>
                <li><a class="btn-floating brown darken-2"><i class="fa fa-search" style="font-size: 1rem;"></i></a></li>
            </ul>
        </div> -->
    </main>

    <footer class="page-footer" >
        <div class="footer-copyright">
            <div class="container">
                <p>&copy; 2014-2015 ReadingBulb, All rights reserved.</p>
            </div>
        </div>
    </footer>

    <!--  Scripts-->
    <script src="../../vendor/jquery/dist/jquery.js"></script>
    <script src="../../vendor/jquery-timeago/jquery.timeago.js"></script>
    <script src="../../vendor/materialize/bin/materialize.js"></script>
    <script src="../../vendor/hammerjs/hammer.js"></script>
    <script src="../../vendor/headroom.js/dist/headroom.js"></script>
    <script src="../../vendor/headroom.js/dist/jQuery.headroom.js"></script>
    <script src="../../vendor/formstone/dist/js/core.js"></script>
    <script src="../../vendor/formstone/dist/js/transition.js"></script>
    <script src="../../vendor/formstone/dist/js/background.js"></script>
    <script src="../../script/rb-proto.js"></script>
</body>

</html>