<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="ReadingBulb - Styleguides">
    
    <title>ReadingBulb - Frontend Prototype</title>

    <!-- Favicon -->
    <link rel="icon" href="../favicon.ico" sizes="32x32">


    <!--  Android 5 Chrome Color-->
    <meta name="theme-color" content="#EE6E73">

    <!-- CSS-->
    <link rel="stylesheet" href="../../style/proto.css" >
</head>

<body id="single-content">

    <header class="navbar-fixed">

        <nav class="user-dashboard-topnav">

            <div class="nav-wrapper nav">

                <ul class="row top-nav">
                    <li class="col s3 center-align">
                        <a class="active" href="dashboard-user.html" ><span class="nav-icon fa fa-star-o"></span><span class="nav-text">&nbsp;Featured</span></a>
                    </li>
                    <li class="col s3 center-align">
                        <a class="" href="dashboard-user-latest.html" ><span class="nav-icon fa fa-bell-o"></span><span class="nav-text">&nbsp;Latest</span></a>
                    </li>
                    <li class="col s3 center-align">
                        <a class="" href="dashboard-user-subscribed.html" ><span class="nav-icon fa fa-thumb-tack"></span><span class="nav-text">&nbsp;Subscribed</span></a>
                    </li>
                    <li class="col s3 center-align">
                        <a class="" href="dashboard-user-subscribed.html" ><span class="nav-icon fa fa-plus-square-o"></span><span class="nav-text">&nbsp;Filters</span></a>
                    </li>
                </ul>

                <ul class="side-nav" id="side-nav">
                    <li><a href="#">Menu A</a></li>
                    <li><a href="#">Menu B</a></li>
                    <li><a href="#">Menu C</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main id="main">

        <article class="content-outer">
            
            <section class="content-cover-outer half-height">

                <div class="content-cover-head">

                    <div class="content-meta-outer">

                        <div class="content-title">
                            <h2 class="black-text">Harga Sembako di Yogyakarta Mulai Naik</h2>
                        </div>
                        
                        <div class="content-meta-source-icon">
                            <img src="../../asset/image/tribun.png" alt="">
                        </div>

                        <div class="content-meta-source-text">
                            <p class="black-text">THE DAILY EDITION</p>
                        </div>

                        <!-- <div class="content-meta-author">
                            <p class="black-text"><span>&nbsp;&bull;&nbsp;</span>Andy Shepard</p>
                        </div> -->
                    </div>
                </div>
            </section>

            <section class="content-body">
                <p>Bulan puasa atau ramadhan 2015 masih cukup lama, namun harga kebutuhan pokok di Pasar Tradisional di Yogyakarta mulai merangkak naik. Komoditas yang mengalami kenaikan antara lain minyak goreng, telor, gula pasir, beras dan bumbu.</p>
                <p>Pedagang bahan pokok di Pasar Giwangan Yogyakarta, Purwanto mengatakan, kenaikan sejumlah komoditas itu sudah terjadi sejak sepekan terakhir. "Untuk beras kenaikan harga baru dua hari ini," katanya, Rabu (27/5).</p>
                <p>Kenaikan harga yang cukup signifikan terjadi pada jenis bumbu, khususnya bawang merah. Harga bawang merah lokal saat ini mencapai Rp 40 ribu perkilogram. Padahal, sebulan lalu harga bawang merah baru pada kisaran Rp 25 ribu perkilogram.</p>
                <p>Minyak goreng mengalami kenaikan Rp 200 hingga Rp 500 perliternya. Kenaikan tertinggi terjadi pada minyak kemasan. Sedangkan telur juga mengalami kenaikan harga Rp 500 perliogram. Harga telur ayam ras mencapai Rp 19.500 perkilogram. Gula pasir juga mengalami kenaikan antara Rp 200 hingga Rp 500 perkilogram. </p>
                <p>"Ini nampaknya akan terus naik sampai mau lebaran nanti," katanya.</p>
                <p>Kepala Bidang Pengawasan Perdagangan Dinas Perindustrian, Perdagangan, Koperasi dan Pertanian (Disperindagkoptan) Kota Yogyakarta, Sri Harnani mengatakan, kenaikan sejumlah komoditas pokok memang merata di semua pasar traadisional di Yogyakarta. </p>
                <p>"Dari pantauan kami memang sejumlah komoditas sudah mengalami kenaikan," katanya.</p>
                <p>Berdasarkan analisanya, kenaikan harga sejumlah komoditas pokok ini akibat dari kenaikan jumlah permintaan dari masyarakat. "Ini mau puasa, banyak yang sudah membuat kue-kue kering jadi kebutuhan pokok untuk pembuatan kue harganya naik karena permintaan juga naik," katanya.</p>
                <p>Dari sisi stok, peredaran barang di pasar masih sangat mencukupi bagi kebutuhan masyarakat di Yogyakarta hingga masuk puasa nanti.</p>
            </section>
        </article>

        <!-- <div class="fixed-action-btn" style="bottom: 8px; right: 8px;">
            <a class="btn-floating btn-large brown darken-2"><i class="large fa fa-plus"></i></a>
            <ul>
                <li><a class="btn-floating brown darken-2"><i class="fa fa-filter" style="font-size: 1rem;"></i></a></li>
                <li><a class="btn-floating brown darken-2"><i class="fa fa-search" style="font-size: 1rem;"></i></a></li>
            </ul>
        </div> -->
    </main>

    <footer class="page-footer" >
        <div class="footer-copyright">
            <div class="container">
                © 2014-2015 ReadingBulb, All rights reserved.
                <a class="grey-text text-lighten-4 right" href="">Proprietary License</a>
            </div>
        </div>
    </footer>

    <!--  Scripts-->
    <script src="../../vendor/jquery/dist/jquery.js"></script>
    <script src="../../vendor/jquery-timeago/jquery.timeago.js"></script>
    <script src="../../vendor/materialize/bin/materialize.js"></script>
    <script src="../../vendor/hammerjs/hammer.js"></script>
    <script src="../../vendor/headroom.js/dist/headroom.js"></script>
    <script src="../../vendor/headroom.js/dist/jQuery.headroom.js"></script>
    <script src="../../script/rb-proto.js"></script>
</body>

</html>