<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="ReadingBulb - Styleguides">
    
    <title>ReadingBulb - Frontend Prototype</title>

    <!-- Favicon -->
    <link rel="icon" href="../favicon.ico" sizes="32x32">


    <!--  Android 5 Chrome Color-->
    <meta name="theme-color" content="#EE6E73">

    <!-- CSS-->
    <link rel="stylesheet" href="../../style/proto.css" >
</head>

<body id="single-content">

    <header class="navbar-fixed">

        <nav class="main-nav-outer">

            <ul class="main-nav-inner">
                <li class="nav-list">
                    <a class="nav-link active" href="dashboard-user.html" ><span class="nav-icon fa fa-star-o"></span><span class="nav-text">&nbsp;Featured</span></a>
                </li>
                <li class="nav-list">
                    <a class="nav-link" href="dashboard-user-latest.html" ><span class="nav-icon fa fa-bell-o"></span><span class="nav-text">&nbsp;Latest</span></a>
                </li>
                <li class="nav-list">
                    <a class="nav-link" href="dashboard-user-subscribed.html" ><span class="nav-icon fa fa-thumb-tack"></span><span class="nav-text">&nbsp;Subscribed</span></a>
                </li>
                <li class="nav-list">
                    <a class="nav-link filter-nav-toggler" href="#" ><span class="nav-icon fa fa-plus-square-o"></span><span class="nav-text">&nbsp;Filters</span></a>
                </li>
            </ul>
        </nav>

        <nav class="filter-nav-outer">
            
            <ul class="filter-nav-inner">
                
                <li class="filter-list">
                    <a href="#" class="filter-link"><span class="filter-icon fa fa-search"></span></a>
                </li>

                <li class="filter-list">
                    <a href="#" class="filter-link"><span class="filter-icon fa fa-filter"></span></a>
                </li>
            </ul>
        </nav>
    </header>

    <main id="main">

        <article class="content-outer">
            
            <section class="content-cover-outer half-height">

                <div class="content-cover-head">

                    <div class="content-meta-outer">

                        <div class="content-title">
                            <h2 class="black-text">Presiden Resmikan Pelabuhan Teluk Lamong</h2>
                        </div>
                        
                        <div class="content-meta-source-icon">
                            <img src="../../asset/image/tribun.png" alt="">
                        </div>

                        <div class="content-meta-source-text">
                            <p class="black-text">THE DAILY EDITION</p>
                        </div>

                        <!-- <div class="content-meta-author">
                            <p class="black-text"><span>&nbsp;&bull;&nbsp;</span>Andy Shepard</p>
                        </div> -->
                    </div>
                </div>
            </section>

            <section class="content-body">
                <p>Presiden Joko Widodo meresmikan Pelabuhan Teluk Lamong Surabaya, Jumat (22/5) pagi. Pelabuhan yang memiliki nama lain Terminal Multy Purpose Teluk Lamong itu disebut sebagai bandar logistik paling modern di Indonesia saat ini.    </p>
                <p>Pelabuhan Teluk Lamong dibangun sejak 2010 dan mulai beroperasi dalam skala percobaan pada akhir 2014 silam. Beberapa keunggulan pelabuhan petikemas tersebut, di antaranya adalah bersifat semiotomatis. </p>
                <p>Pelabuhan Teluk Lamong disebut beroperasi secara semiotomatis karena alat pemindah kontainer atau crane dioperasikan dari jarak jauh melalui ruang kendali. Selain itu, sejumlah terobosan dilakukan untuk mendukung bandar tersebut sebagai pelabuhan ramah lingkungan.    </p>
                <p>Beberapa inovasi ramah lingkungan yang diterapkan adalah angkutan berbahan bakar gas serta sistem tata cahaya menggunakan lampu LED. Tak hanya didukungan teknologi yang efisien, Pelabuhan berkapasitas 1,5 juta TEUs per tahun itu dipersiapkan sebagai alternatif atas Pelabuhan Tanjung Perak, yang kini mengalami kelebihan kapasistas. </p>
                <p>Presiden Joko Widodo mengapresiasi pertumbuhan ekonomi Jawa Timur yang konsisten di atas rata-rata nasional. Keberadaan Pelabuhan Teluk Lamong, menurut Jokowi, diharapkan dapat membantu menguatkan perekonomian Jawa Timur.</p>
                <p>"Jawa Timur harus didukung oleh pelabuhan yang efisien. Dengan begitu bisa menurunkan biaya transportasi laut dan bongkar-muat. Dengan begitu, bisa menguatkan daya saing produk2 Jawa Timur. Kalau punya daya saing kuat, pertumbuhan industri, pertumbuhan ekonomi akan selalau meningkat," ujar sang Presiden.  </p>
                <p>Peresmian Pelabuhan Teluk Lamong oleh Presiden juga sekaligus menandai peresmian Alur Pelayaran Barat Surabaya (APBS) yang baru selesai direvitalisasi. Direktur Utama Pelindo III Djarwo Surjanto menyampaikan, dengan revitalisasi tersebut, Alur Perairan Barat Surabaya menjadi lebih dalam dan lebar dari sebelumnya. </p>
                <p>Menurut Djarwo, sebelumnya, kedalaman jalur kapal angkut jalur tersebut hanya minus 9,5 meter Low Water Spring (LWS) dengan lebar 100 meter. Setelah revitalisasi, jalur tersebut menjadi minus 13 LWS dengan lebar 150 meter. </p>
                <p>Selain Presiden dan Dirut Pelindo III, peresmian kedua proyek bernilai Rp 4,65 triliun tersebut juga dihadiri sejumlah menteri, di antaranya Menteri Koordinator Bidang Kemaritiman Indroyono Soesilo, Menteri Perhubungan Ignasius Jonan dan Menteri BUMN Rini Soemarno. Selain itu, turut hadir Gubernur Jawa Timur Soekarwo dan Wali Kota Surabaya Tri Rismaharini.</p>
            </section>
        </article>

        <!-- <div class="fixed-action-btn" style="bottom: 8px; right: 8px;">
            <a class="btn-floating btn-large brown darken-2"><i class="large fa fa-plus"></i></a>
            <ul>
                <li><a class="btn-floating brown darken-2"><i class="fa fa-filter" style="font-size: 1rem;"></i></a></li>
                <li><a class="btn-floating brown darken-2"><i class="fa fa-search" style="font-size: 1rem;"></i></a></li>
            </ul>
        </div> -->
    </main>

    <footer class="page-footer" >
        <div class="footer-copyright">
            <div class="container">
                <p>&copy; 2014-2015 ReadingBulb, All rights reserved.</p>
            </div>
        </div>
    </footer>

    <!--  Scripts-->
    <script src="../../vendor/jquery/dist/jquery.js"></script>
    <script src="../../vendor/jquery-timeago/jquery.timeago.js"></script>
    <script src="../../vendor/materialize/bin/materialize.js"></script>
    <script src="../../vendor/hammerjs/hammer.js"></script>
    <script src="../../vendor/headroom.js/dist/headroom.js"></script>
    <script src="../../vendor/headroom.js/dist/jQuery.headroom.js"></script>
    <script src="../../script/rb-proto.js"></script>
</body>

</html>