<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="ReadingBulb - Styleguides">
    
    <title>ReadingBulb - Frontend Prototype</title>

    <!-- Favicon -->
    <link rel="icon" href="../favicon.ico" sizes="32x32">


    <!--  Android 5 Chrome Color-->
    <meta name="theme-color" content="#EE6E73">

    <!-- CSS-->
    <link rel="stylesheet" href="../../style/proto.css" >
</head>

<body id="single-content">

    <header class="navbar-fixed">

        <nav class="main-nav-outer">

            <ul class="main-nav-inner">
                <li class="nav-list">
                    <a class="nav-link active" href="dashboard-user.html" ><span class="nav-icon fa fa-star-o"></span><span class="nav-text">&nbsp;Featured</span></a>
                </li>
                <li class="nav-list">
                    <a class="nav-link" href="dashboard-user-latest.html" ><span class="nav-icon fa fa-bell-o"></span><span class="nav-text">&nbsp;Latest</span></a>
                </li>
                <li class="nav-list">
                    <a class="nav-link" href="dashboard-user-subscribed.html" ><span class="nav-icon fa fa-thumb-tack"></span><span class="nav-text">&nbsp;Subscribed</span></a>
                </li>
                <li class="nav-list">
                    <a class="nav-link filter-nav-toggler" href="#" ><span class="nav-icon fa fa-plus-square-o"></span><span class="nav-text">&nbsp;Filters</span></a>
                </li>
            </ul>
        </nav>

        <nav class="filter-nav-outer">
            
            <ul class="filter-nav-inner">
                
                <li class="filter-list">
                    <a href="#" class="filter-link"><span class="filter-icon fa fa-search"></span></a>
                </li>

                <li class="filter-list">
                    <a href="#" class="filter-link"><span class="filter-icon fa fa-filter"></span></a>
                </li>
            </ul>
        </nav>
    </header>

    <main id="main">

        <article class="content-outer">
            
            <section class="content-cover-outer half-height">

                <div class="content-cover-head">

                    <div class="content-meta-outer">

                        <div class="content-title">
                            <h2 class="black-text">Ketua BEM UI Sebut Presiden Jokowi Bohong</h2>
                        </div>
                        
                        <div class="content-meta-source-icon">
                            <img src="../../asset/image/tribun.png" alt="">
                        </div>

                        <div class="content-meta-source-text">
                            <p class="black-text">THE DAILY EDITION</p>
                        </div>

                        <!-- <div class="content-meta-author">
                            <p class="black-text"><span>&nbsp;&bull;&nbsp;</span>Andy Shepard</p>
                        </div> -->
                    </div>
                </div>
            </section>

            <section class="content-body">
                <p>Ketua Badan Eksekutif Mahasiswa (BEM) Universitas Indonesia Andi Aulia Rahman membeberkan kebohongan Presiden Jokowi. Dia pun membuat tagar JokowiBohong dalam serial kultwitnya. "Masih terekam dalam benak saya, 2500 lebih massa aksi dalam #Aksi21Mei kemarin berhasil mendesak pertemuan terbuka dg Jokowi," katanya melalui akun Twitter, @andiauliar.</p>
                <p>Dia menyatakan, saat melakukan aksi pada 21 Mei lalu, pihaknya dan 49 perwakilan masing-masing kampus masuk ke Istana Negara menemui kepala Staf Kepresidenan Luhut Panjaitan untuk menyampaikan tuntutan bertemu Presiden.</p>
                <p>"Di dalam pertemuan tersebut, Bp.Luhut mnjelaskan bahwa Presiden sedang di Malang dan tidak memungkinkan kembali di Jakarta," kata Andi. "Kami, perwakilan mahasiswa saat itu, tetap mendesak untuk bertemu Jokowi, di waktu apapun, bahkan tengah malam sekalipun."</p>
                <p>Karena terdesak, menurut dia, Mensesneg Pratikno akhornya menelpon Presiden Jokowi. Berkali-kali tidak tersambung, namun setelah 20 menit akhirnya ada kejelasan. "Mensesneg menyampaikan kepada kami bahwa Presiden Jokowi baru bisa menemui Mahasiswa pada hari Senin, 25 Mei 2015, Pk. 08.00," ujarnya.</p>
                <p>Setelah itu, lanjut Andi, perwakilan mahasiswa meminta waktu shalat Ashar, dan ia bersama Korpus BEM SI keluar menemui massa aksi untuk memberitahu perkembangan terkini. "Setelah itu, saya &amp; Korpus BEM SI kembali lagi ke dalam Istana, melanjutkan diskusi utk menyepakati/tidak tawaran Presiden bertemu hr senin."</p>
                <p>Singkat cerita, lanjut Andi, akhirnya mahasiswa sepakat menerima tawaran dialog terbuka dengan Presiden Jokowi pada Senin (25/5) pukul 08.00 WIB. Acara itu diagendakan live di salah satu stasiun televisi nasional. ""Akhirnya #Aksi21Mei selesai dan massa membubarkan diri setelah Bp.Luhut menyampaikan bahwa agenda pertemuan dijadwalkan Senin 25 Mei."</p>
                <p>Andi menjelaskan, "#JokowiBohong akhirnya benar2 kejadian. Sabtu malam kemarin, Presiden melalui Mensesneg membatalkan agenda pertemua besok dengan sepihak."</p>
                <p>Menurut dia, beberapa presiden mahasiswa dari berbagai daerah sudah dalam perjalanan ke Jakarta ketika berita itu sampai. "Saat ini, saya &amp; beberapa Presma yang sudah sampai Jakarta, berkumpul di Kampus UNJ. Bahas penyikapan utk #JokowiBohong ini. Doanya kawan."</p>
            </section>
        </article>

        <!-- <div class="fixed-action-btn" style="bottom: 8px; right: 8px;">
            <a class="btn-floating btn-large brown darken-2"><i class="large fa fa-plus"></i></a>
            <ul>
                <li><a class="btn-floating brown darken-2"><i class="fa fa-filter" style="font-size: 1rem;"></i></a></li>
                <li><a class="btn-floating brown darken-2"><i class="fa fa-search" style="font-size: 1rem;"></i></a></li>
            </ul>
        </div> -->
    </main>

    <footer class="page-footer" >
        <div class="footer-copyright">
            <div class="container">
                <p>&copy; 2014-2015 ReadingBulb, All rights reserved.</p>
            </div>
        </div>
    </footer>

    <!--  Scripts-->
    <script src="../../vendor/jquery/dist/jquery.js"></script>
    <script src="../../vendor/jquery-timeago/jquery.timeago.js"></script>
    <script src="../../vendor/materialize/bin/materialize.js"></script>
    <script src="../../vendor/hammerjs/hammer.js"></script>
    <script src="../../vendor/headroom.js/dist/headroom.js"></script>
    <script src="../../vendor/headroom.js/dist/jQuery.headroom.js"></script>
    <script src="../../script/rb-proto.js"></script>
</body>

</html>