<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="ReadingBulb - Styleguides">
    
    <title>ReadingBulb - Frontend Prototype</title>

    <!-- Favicon -->
    <link rel="icon" href="../favicon.ico" sizes="32x32">


    <!--  Android 5 Chrome Color-->
    <meta name="theme-color" content="#EE6E73">

    <!-- CSS-->
    <link rel="stylesheet" href="../../style/proto.css" >
</head>

<body id="single-content">

    <header class="navbar-fixed">

        <nav class="main-nav-outer">

            <ul class="main-nav-inner">
                <li class="nav-list">
                    <a class="nav-link active" href="dashboard-user.html" ><span class="nav-icon fa fa-star-o"></span><span class="nav-text">&nbsp;Featured</span></a>
                </li>
                <li class="nav-list">
                    <a class="nav-link" href="dashboard-user-latest.html" ><span class="nav-icon fa fa-bell-o"></span><span class="nav-text">&nbsp;Latest</span></a>
                </li>
                <li class="nav-list">
                    <a class="nav-link" href="dashboard-user-subscribed.html" ><span class="nav-icon fa fa-thumb-tack"></span><span class="nav-text">&nbsp;Subscribed</span></a>
                </li>
                <li class="nav-list">
                    <a class="nav-link filter-nav-toggler" href="#" ><span class="nav-icon fa fa-plus-square-o"></span><span class="nav-text">&nbsp;Filters</span></a>
                </li>
            </ul>
        </nav>

        <nav class="filter-nav-outer">
            
            <ul class="filter-nav-inner">
                
                <li class="filter-list">
                    <a href="#" class="filter-link"><span class="filter-icon fa fa-search"></span></a>
                </li>

                <li class="filter-list">
                    <a href="#" class="filter-link"><span class="filter-icon fa fa-filter"></span></a>
                </li>
            </ul>
        </nav>
    </header>

    <main id="main">

        <article class="content-outer">
            
            <section class="content-cover-outer half-height">

                <div class="content-cover-head">

                    <div class="content-meta-outer">

                        <div class="content-title">
                            <h2 class="black-text">Begini Jadinya Setelah Beras Plastik Dimasak</h2>
                        </div>
                        
                        <div class="content-meta-source-icon">
                            <img src="../../asset/image/tribun.png" alt="">
                        </div>

                        <div class="content-meta-source-text">
                            <p class="black-text">THE DAILY EDITION</p>
                        </div>

                        <!-- <div class="content-meta-author">
                            <p class="black-text"><span>&nbsp;&bull;&nbsp;</span>Andy Shepard</p>
                        </div> -->
                    </div>
                </div>
            </section>

            <section class="content-body">
                <p>Pedagang nasi uduk, Dewi Septiani (29 tahun), di Bekasi, yang membeli beras diduga berbahan sintetis segera melakukan pengecekan terhadap kualitas beras yang dibelinya. Beras yang dibelinya sebanyak enam liter itu sudah membuat pelanggan nasi uduknya mulas dan pusing.</p>
                <p>"Dari pengamatan saya beras ini tidak lazim. Berasnya tidak memiliki bulir, biasanya bubur kalau sudah dingin bentuknya mengental dan menyatu, tapi kalau ini seperti belum matang," katanya di Bekasi, Selasa (16/5).</p>
                <p>Selain bubur, Dewi juga sempat menanak beras itu untuk dijadikan nasi uduk, namun beras tersebut mengeluarkan banyak air dan basah. "Kalau beras biasa meresap air, tapi ini malah mengeluarkan air. Saat dimakan rasanya aneh," katanya.</p>
                <p>Menurutnya, bubur yang telah dimasak selama lebih dari satu jam itu tidak menghasilkan bubur halus. "Butirannya justru membesar tapi tidak halus. Biasanya bubur buatan saya halus dan lembut. Ini rasanya aneh di lidah dan sangat lengket," katanya.</p>
                <p>Dari ciri tersebut, Dewi pun mencoba mencari tahu jenis beras tersebut melalui internet dan sejumlah pemberitaan. "Ternyata jenis beras yang saya beli per liternya Rp 8 ribu itu mirip sekali dengan ciri beras berbahan sintetis. Kan banyak pemberitaan yang bilang saat ini beras asal Tiongkok masuk ke Indonesia," katanya.</p>
                <p>Keanehan itu kemudian membuat ibu satu anak itu memutuskan untuk mengganti lokasi pembelian beras yang sudah setahun menjadi pelanggannya. Ia juga memublikasikan temuan itu melalui media sosial Facebook dan Instagram untuk diketahui masyarakat luas.</p>
                <p>"Rencananya saya mau lapor ke Yayasan Lembaga Konsumen Indonesia (YLKI), tapi keburu datang orang dari Dinas Perindustrian dan Perdagangan Kota Bekasi untuk membawanya ke laboratorium," katanya.</p>
                <p>Hingga kini kasus itu masih dalam penanganan Polresta Bekasi Kota dengan memeriksa pelapor serta lima orang saksi dari kios penjualan beras di Pasar Mutiara Gading.</p>
            </section>
        </article>

        <!-- <div class="fixed-action-btn" style="bottom: 8px; right: 8px;">
            <a class="btn-floating btn-large brown darken-2"><i class="large fa fa-plus"></i></a>
            <ul>
                <li><a class="btn-floating brown darken-2"><i class="fa fa-filter" style="font-size: 1rem;"></i></a></li>
                <li><a class="btn-floating brown darken-2"><i class="fa fa-search" style="font-size: 1rem;"></i></a></li>
            </ul>
        </div> -->
    </main>

    <footer class="page-footer" >
        <div class="footer-copyright">
            <div class="container">
                <p>&copy; 2014-2015 ReadingBulb, All rights reserved.</p>
            </div>
        </div>
    </footer>

    <!--  Scripts-->
    <script src="../../vendor/jquery/dist/jquery.js"></script>
    <script src="../../vendor/jquery-timeago/jquery.timeago.js"></script>
    <script src="../../vendor/materialize/bin/materialize.js"></script>
    <script src="../../vendor/hammerjs/hammer.js"></script>
    <script src="../../vendor/headroom.js/dist/headroom.js"></script>
    <script src="../../vendor/headroom.js/dist/jQuery.headroom.js"></script>
    <script src="../../script/rb-proto.js"></script>
</body>

</html>